<header class="row m-0 align-items-center">
  <div class="left col-md-4 d-flex gap-2 align-items-center">
    <div class="logo d-flex align-items-center justify-content-center">
      <img src="assets/icons/logo.png" alt="logo" />
    </div>
    <span>{{ 'LogoTitle' | translate }}</span>
  </div>
  <div class="center col-md-4">
    <img width="13px" src="assets/icons/search.svg" alt="Search" />
    <input
      id="search"
      type="search"
      [placeholder]="'searchPlaceHolder' | translate"
      (input)="onSearch($event.target.value)"
    />
  </div>
  <div class="right col-md-4 d-flex align-items-center justify-content-end">
    <button (click)="toggleLang()" type="button">
      {{ 'Lang' | translate }}
    </button>
    <div class="d-flex gap-3">
      <span class="bill d-flex align-items-center justify-content-center">
        <img src="assets/icons/bill.png" alt="bill" />
      </span>
      <span class="d-flex align-items-center justify-content-center name">JD</span>
    </div>
  </div>
</header>
