@use '../../../../../scss/variables' as *;

.task-form {
  position: relative;
  height: 100%;
  .btn-create {
    width: fit-content;
    padding: 8px 22px;
  }
  .btn-save,
  .btn-cancel {
    width: 6rem;
  }
  .tags {
    flex-wrap: wrap;
    max-width: 100%;
    .tag-item {
      button {
        color: $error-btn-color;
      }
      background-color: #eee;
      color: $create-btn-color;
      font-size: 14px;
      font-weight: bold;
      width: fit-content;
      padding: 10px;
      border-radius: 8px;
    }
  }
  .action-container {
    @media (max-width: $max-sm) {
      display: flex;
      justify-content: center;
    }
  }
}

::ng-deep .p-select-overlay {
  .p-select-option {
    color: $black-color;
    font-size: 14px;
    font-weight: 400;
    height: 2.5rem;
    &:hover {
      background-color: $create-btn-color !important;
      color: $white-color !important;
    }
    transition: 0.3s;
  }
  .p-select-option.p-select-option-selected {
    background-color: #ddd;
    color: $black-color;
  }
}
