@use '../../../../../scss/variables' as *;

.column {
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  .column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
    .title {
      font-size: 13.9px;
      font-weight: 700;
      color: #212121;
      text-transform: uppercase;
    }
    .count {
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      background-color: #e0e0e0;
      padding: 1px 10px;
      font-size: 12px;
      color: #212121;
      font-weight: 700;
    }
  }
  .tasks-container {
    margin: 20px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 2px;
      .empty-icon {
        font-size: 48px;
        margin-bottom: 8px;
      }
      .empty-text {
        font-size: 14px;
        color: #999;
      }
    }
    @media (max-width: $max-lg) {
      padding: 15px 10px;
      max-height: 536px;
      overflow-y: auto;
    }
  }
}
