<div
  class="task-card"
  [class.overdue]="isOverdue"
  [class.completed]="task.status === 'done'"
  [class.in-progress]="task.status === 'in_progress'"
  [class.todo]="task.status === 'todo'"
>
  <div class="card-top">
    <div class="priority" [ngClass]="priorityClass">{{ task.priority | uppercase }}</div>
    <div class="drag">
      <img src="assets/icons/actions.png" alt="actions" />
    </div>
  </div>
  <div class="card-body">
    <div class="title" [title]="task.title">{{ task.title }}</div>
    <p class="desc" [title]="task.description">{{ task.description }}</p>
    <div class="card-meta">
      @if (!isOverdue && task.status !== 'done') {
        <img src="assets/icons/calendar.png" alt="Calendar" />
      }
      @if (task.status === 'done') {
        <img src="assets/icons/tasks.png" alt="Calendar" />
      }
      <span>{{ dueRelative }}</span>
    </div>
    @if (task.tags.length) {
      <div class="tags">
        @for (tag of task.tags; track $index) {
          <span>{{ tag }}</span>
        }
      </div>
    }
  </div>
  <div class="card-footer d-flex align-items-center justify-content-between">
    <div class="assignee">
      <div class="avatar">{{ task.assignee.avatar }}</div>
      <div class="assignee-name">@{{ formattedAssignee }}</div>
    </div>
    <div class="actions d-flex align-items-center gap-2">
      <button (click)="onEdit()">
        <img src="assets/icons/edit.svg" alt="Edit" />
      </button>
      <button (click)="onDelete()">
        <img src="assets/icons/delete.svg" alt="Delete" />
      </button>
    </div>
  </div>
</div>

<app-confirm-dialog
  [message]="'DeleteTaskMsg'"
  [visible]="showDeleteDialog"
  (confirm)="onConfirmDelete()"
  (dismiss)="onDismissDelete()"
/>
