.stat-card {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 30px 24px;
  background-color: #fff;
  .header {
    margin-bottom: 20px;
    .title {
      font-size: 14px;
      font-weight: 400;
      color: #757575;
      line-height: 22px;
    }
  }
  .body {
    span {
      font-size: 30px;
      font-weight: 700;
      color: #212121;
      line-height: 52px;
    }
  }
  .footer {
    span {
      font-size: 11.5px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
