<div class="task-filter d-flex align-items-center justify-content-between flex-wrap row-gap-4">
  <div class="left d-flex align-items-center gap-3">
    <button class="reset" (click)="clearFilters()">
      <img
        width="25"
        height="25"
        [title]="'ResetFilters' | translate"
        src="assets/icons/reset.svg"
        alt="reset-filters"
      />
    </button>
    <nav class="tabs d-flex gap-2">
      @for (status of statusTabs; track status.id) {
        <button
          type="button"
          class="tab-btn"
          (click)="onTabClick(status.id)"
          [class.active]="selectedStatus === status.id"
          [aria-pressed]="selectedStatus === status.id"
        >
          {{ status.label | translate }}
        </button>
      }
    </nav>
  </div>
  <div class="right d-flex align-items-center gap-2">
    <div class="dropdown">
      <p-select
        [options]="priorityOptions"
        [(ngModel)]="selectedPriority"
        optionValue="value"
        (onChange)="onPriorityChange($event.value)"
      >
        <ng-template pTemplate="item" let-option>
          {{ option.label | translate }}
        </ng-template>
        <ng-template pTemplate="selectedItem" let-option>
          {{ option.label | translate }}
        </ng-template>
      </p-select>
    </div>
    <button type="button" class="btn-create" (click)="openTaskModal()">
      + {{ 'CreateNewTask' | translate }}
    </button>
  </div>
</div>

<div class="task-filter">
  <div class="left">
    <nav class="tabs d-flex gap-2 flex-wrap row-gap-3">
      <button
        type="button"
        class="tab-btn"
        (click)="onAssigneeClick('all')"
        [class.active]="selectedAssignee === 'all'"
        [aria-pressed]="selectedAssignee === 'all'"
      >
        {{ 'All' | translate }}
      </button>
      @for (assignee of assignees; track assignee.id) {
        <button
          type="button"
          class="tab-btn"
          (click)="onAssigneeClick(assignee.id)"
          [class.active]="selectedAssignee === assignee.id"
          [aria-pressed]="selectedAssignee === assignee.id"
        >
          {{ assignee.name }}
        </button>
      }
    </nav>
  </div>
</div>
