@use '../../../../../scss/variables' as *;

.task-filter {
  padding: 12px 16px;
  background-color: $white-color;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px #00000014;
  margin-bottom: 30px;
  .left {
    flex: 1;
    .tabs {
      .tab-btn {
        min-width: fit-content;
        font-size: 14px;
        padding: 5px 16px;
        border-radius: 4px;
        color: $black-color;
        transition: 0.3s;
        &.active {
          background: #1976d2;
          color: $white-color;
        }
        @media (max-width: $max-sm) {
          padding: 5px 8px;
        }
      }
      @media (max-width: $max-sm) {
        width: 100%;
        justify-content: center;
      }
    }
  }
  .right {
    .dropdown {
      height: 35px;
    }
    .btn-create {
      min-width: 120px;
      width: fit-content;
      padding: 7.2px 22px;
      margin-top: 3px;
    }
  }
  @media (max-width: $max-sm) {
    .left,
    .right {
      width: 100%;
      justify-content: center;
    }
  }
}
