<div class="sidebar">
  @for (module of modules; track $index; let i = $index) {
    <a
      class="d-flex align-items-center gap-2"
      [routerLink]="[module.route]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: i === 0 ? true : false }"
    >
      <img width="15" height="15" [src]="module.icon" [alt]="module.name" />
      <span>{{ module.name | translate }}</span>
    </a>
  }
  <button type="button" class="btn-create" (click)="openTaskModal()">
    + {{ 'CreateNewTask' | translate }}
  </button>
</div>
