@use '../../../../scss/variables' as *;

.sidebar {
  background: $white-color;
  padding: 24px;
  height: 100%;
  box-shadow: 0px 2px 4px 0px #00000014;
  width: 220px;
  a {
    padding: 12px 20px;
    display: block;
    margin: 0 0 5px;
    font-size: 13.5px;
    font-weight: 400;
    color: var(--color-grey-13, #212121);
    &.active {
      background: #1976d2;
      color: $white-color;
    }
    border-radius: 4px;
    &:hover:not(.active) {
      background: #0000000d;
    }
    transition: 0.3s;
  }
  .btn-create {
    margin-top: 50px;
    width: 100%;
  }
}
