@use 'variables.scss' as *;

.btn-create,
.btn-cancel,
.btn-save {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 13.5px;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-create {
  width: 6rem;
  background-color: $create-btn-color;
  border: 1px solid $create-btn-color;
  color: $white-color;
  &:hover {
    background-color: $create-btn-hover-color;
    border-color: $create-btn-hover-color;
  }
}

.btn-cancel {
  background-color: $error-btn-color;
  border: 1px solid $error-btn-color;
  color: $white-color;
  &:hover {
    background-color: $error-btn-hover-color;
    border-color: $error-btn-hover-color;
    color: $white-color;
  }
}

.btn-save {
  width: 6rem;
  background-color: $save-btn-color;
  border: 1px solid $save-btn-color;
  color: $white-color;
  &:hover {
    background-color: $save-btn-hover-color;
    border-color: $save-btn-hover-color;
  }
}
