@use './variables' as *;

.user-menu-panel.p-popover.p-component {
  margin-top: 5px;
  min-width: 180px;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0px 16px 0px #23232c1a;
  &::before {
    display: none !important;
  }
  &::after {
    display: none !important;
  }
  .p-popover-content {
    padding: 5px;
  }
  .actions {
    .action {
      margin: 2px 0;
      a {
        color: #000;
        &.active {
          button {
            background-color: $create-btn-color;
            color: #fff;
          }
        }
      }
      button {
        width: 100%;
        display: flex;
        justify-content: start;
        border: 0;
        box-shadow: none;
        background-color: transparent;
        padding: 10px 15px;
        margin: 0;
        color: inherit;
        &:focus {
          outline: none;
        }
        font-weight: 400;
        font-size: 14px;
      }
      &:hover {
        background-color: #eee;
      }
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
  }
}
