@font-face {
  font-family: 'Roboto';
  src: url('../../public/assets/fonts/Inter_18pt-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/assets/fonts/Inter_24pt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/assets/fonts/Inter_24pt-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/assets/fonts/Inter_28pt-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/assets/fonts/Inter_28pt-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/assets/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/assets/fonts/Inter_18pt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
