@use 'variables' as *;

body {
  font-family: 'Inter', sans-serif !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  background-color: $grey-color;
  &:focus,
  & {
    outline: none;
    box-shadow: none;
  }
  overflow: hidden;
}

a {
  text-decoration: none;
  &:hover {
    outline: none;
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: $create-btn-color;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  &:hover {
    background-color: $create-btn-hover-color;
  }
}
