@use 'variables' as *;

body {
  font-family: 'Inter', sans-serif !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  background-color: $grey-color;
  overflow: hidden;
}

a {
  text-decoration: none;
  &:hover {
    outline: none;
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: $white-color;
}
::-webkit-scrollbar-thumb {
  background-color: $create-btn-color;
  border-radius: 1rem;
  &:hover {
    background-color: $create-btn-hover-color;
  }
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  cursor: pointer;
}
