@use 'variables.scss' as *;

// Dropdown Styles
.dropdown {
  .p-select {
    min-width: 120px;
    height: 38.6px;
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 8px;
  }
  .p-select.p-component.p-inputwrapper {
    border-color: #e0e0e0;
    &:hover {
      border-color: $create-btn-color;
    }
  }
  .p-focus.p-inputwrapper-focus {
    border: 1px solid #e0e0e0 !important;
  }
  .p-select-dropdown-icon {
    color: #333;
    width: 12px;
  }
  .p-select-label {
    font-size: 14px;
    font-weight: 400;
    color: $black-color;
  }
  .p-select-label.p-placeholder {
    font-weight: 400;
    color: #666;
    line-height: 1.6;
    font-size: 16px;
  }
  .p-select-overlay {
    .p-select-option {
      color: $black-color;
      font-size: 14px;
      font-weight: 400;
      height: 2.5rem;
      &:hover {
        background-color: $create-btn-color !important;
        color: $white-color !important;
      }
      transition: 0.3s;
    }
    .p-select-option.p-select-option-selected {
      background-color: #ddd;
      color: $black-color;
    }
  }
  .p-select .p-overlay {
    box-shadow: 0px 0px 16px 0px #23232c1a;
  }
  .p-overlay.p-component {
    width: 100%;
  }
}

// Input Styles
.input-style {
  position: relative;
  display: flex;
  flex-direction: column;
  input {
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    padding: 6.5px 12px;
    color: $black-color;
    &:disabled {
      background-color: #eee;
      &:hover,
      &:focus {
        border: 1px solid #e0e0e0;
      }
    }
    &::placeholder {
      color: #666;
      line-height: 1.6;
      font-size: 16px;
    }
    &:focus,
    &:hover {
      border: 1px solid $create-btn-color;
      outline: none;
    }
    transition: 0.3s;
  }
}

// Date Picker Styles
.calender {
  .p-component.p-datepicker {
    height: 38.6px;
    width: 100%;
    .p-datepicker-input.p-component.p-inputtext {
      cursor: pointer;
      border-color: #e0e0e0;
      &:hover {
        border-color: $create-btn-color;
      }
      &:focus {
        outline: none;
      }
    }
    input::placeholder {
      color: #666;
      line-height: 1.6;
      font-size: 16px;
    }
    .dropdown {
      border: none !important;
    }
  }
}
.p-focus.p-inputwrapper-focus {
  border-color: transparent !important;
}
.p-datepicker-day-selected {
  background-color: $create-btn-color !important;
}
.p-datepicker-panel {
  width: fit-content !important;
}

// Label Styles
label {
  font-size: 14px;
  margin-bottom: 3px;
  position: relative;
  width: fit-content;
  margin-left: 4px;
  &.required::before {
    content: '*';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    color: $error-btn-color;
    font-weight: bold;
  }
}

.ar label {
  margin-left: 0;
  margin-right: 4px;
  &.required::before {
    right: auto;
    left: -10px;
  }
}
