@use 'variables.scss' as *;

//Dropdown Styles
.dropdown {
  .p-select {
    min-width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .p-select.p-component.p-inputwrapper {
    border-color: #e0e0e0;
    &:hover {
      border-color: $create-btn-color;
    }
  }
  .p-focus.p-inputwrapper-focus {
    border: 1px solid #e0e0e0;
  }
  .p-select-dropdown-icon {
    color: #333;
    width: 12px;
  }
  .p-select-label {
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }
  .p-select-label.p-placeholder {
    color: #333;
  }
  .p-select-overlay {
    .p-select-option {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      height: 2.5rem;
      &:hover {
        background-color: $create-btn-color !important;
        color: #fff !important;
      }
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
    .p-select-option.p-select-option-selected {
      background-color: #ddd;
      color: #000;
    }
  }
  .p-select .p-overlay {
    box-shadow: 0px 0px 16px 0px #23232c1a;
  }
  .p-overlay.p-component {
    width: 100%;
  }
}
