$grey-color: #f5f7fa;
$error-btn-color: #e10000;
$error-btn-hover-color: #b52020;
$create-btn-color: #1976d2;
$create-btn-hover-color: #1565c0;
$save-btn-color: #246727;
$save-btn-hover-color: #1b541e;
